.grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 100vh;
    border: 2px solid #000;
  }

.grid-item {
    flex: 0 0 calc(100% / 16); 
    height: calc(100% / 16);   
    border: 2px solid #020202;    
    box-sizing: border-box;   
  }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
  }

.hover {
    background-color: #f0a; 
  }